#wrapper{
  width: 50%;
  margin: auto;
  box-sizing: border-box;
}
#toDoApp{
  box-shadow: 1px 5px 20px grey;
  width: 27rem;
}
#toggle-all-btn{
  font-size: 2rem;
  cursor: pointer;
  color: #d1d1d1;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}
.iconMod{
  transform: scale(.7);
}
#addTodo{
  border: none;
  display: inline-block;
  background-color: white;
  width: 23rem;
  height: 3rem;
  font-size: 2rem;
}
#addTodo:focus {
  outline: 0;
}
.toDoDiv{
  position: relative;
  border: none;
  background-color: white;
  font-size: 2rem;
  word-wrap: break-word;
  padding-right: 25px;
  /* overflow:hidden; */
}
ul{
  list-style-type: none;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.toDoLi{
  border-top: 1px solid #d1d1d1;
  background-color: white;
  width: 100%;
  font-size: 2rem;
}
.toDoLi-text{
  padding: .15rem .15rem .15rem 3.15rem;
  word-break: break-all;
  display: block;
  padding-right: 15px;
}
.toDoLi-text:focus{
  outline: 0;
}
.toggle-button{
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  margin: auto .25rem;
  cursor: pointer;
}
.delete-button{
  position: absolute;
  display: inline-block;
  background: none;
  border: none;
  color: #ed9393;
  font-size: 24px;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  outline: none;
}
.delete-button:hover{
  color: #eb7575;
  transform: scale(1.005);
}
.completed{
  text-decoration: line-through;
  color:#dedede;
}
.display-controls{
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #d1d1d1;
}
.visible-inline{
  display: inline;
}
.hidden{
  display: none;
}
#item-left{
  font-size: .9rem;
  padding-left: .5rem;
  color: grey;
}
#controls-div{
  display: inline-block;
  margin-left: 17%;
}
.controls{
  border: 1px solid transparent;
  color: grey;
  outline: none;
}
.controls:hover{
  border: 1px solid grey;
}