#wrapper{
  text-align: center;
  width: 50%;
  margin: auto;
}

#addTodo{
  border: none;
  background-color: white;
  width: 20rem;
  height: 3rem;
  font-size: 2rem;
  box-shadow: 1px 5px 40px grey;
  margin-bottom: 1rem;
}